body {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  background-image: url(ms5150/github.io/blob/master/_DSC1141.jpg);
  background-size: cover;
  font-family: Klee-Medium;

}


/* ToppanBunkyuMidashiMinchoStdN-ExtraBold */
.container {
  width: 100%;
}

.heading {
  padding-top: 60px;
  color: #ed6d3d;  /*柿色  */
  margin-bottom: 300px;
}

.btn {
  color: black;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: rgba(56,161,219,0.6); /*  #38a1db露草色*/
  cursor: pointer;
  box-shadow: 0 4px rgba(56,161,219,0.9);
  position: relative;
  text-decoration: none;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.container img {
  width: 80%;
  height: auto;
}
@madia (max-width: 600px) {

}
